{% extends '_base.html' %}
{% block addl_css %}
<link rel="stylesheet" href="{{url_for("static", filename="css/score.css")}}">
{% endblock %}

{% block content %}
<iframe width="640px" height="720px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=ALQO0aOaLke7bN2H_vNZiKPpQWLSYwVGgLgRbP0slwlURVUwS05QWlhDU0dBV0JDMEZRWk1EMkkwMC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
{% endblock %}


